<div class="span-18 last">
	<h1>Editing item</h1>

	<% form_for(@item) do |f| %>
		<%= f.error_messages %>

		<div class="span-9">
			<%= f.label "Item Name" %><br />
			<%= f.text_field :name %>
		</div>

		<div class="span-9 last">
			<%= f.label "BBL_Number" %><br />
			<%= f.text_field :bbl_id %><br /><br />
		</div><br />
	
		<div class="span-18 last">
			<div class="span-18 last">
				<b><%= link_to "Add image", {:controller => :images, :action => :new, :item_id => @item.id}, :ref => "shadowbox" %></b><br /><br />
			</div>
			<% if @item.has_image? %>
				<div class="span-3">
					Main Image: 
				</div>
				<% @images.each do |image| %>
					<div class="span-4">
						<%= f.radio_button :main_image_id, image.id %><br />
						<%= image_tag image.public_filename(:thumb), :height => 150 %><br />
						<%= link_to "Remove", image, :controller => :images, :confirm => "Are you sure?", :method => :delete %><br /><br />
					</div>
				<% end %>
			<% else %>
				None
			<% end %>
		</div>
		
		<div class="span-4">
			<%= f.label "Vendor" %><br />
			<%= f.collection_select(:vendor_id, @vendors, :id, :name) %>
		</div>
		
		<div class="span-8">
			<%= f.label "Vendor_Item_Number" %><br />
			<%= f.text_field :vendor_item_id %><br /><br />
		</div>
	
		<div class="span-6 last">
			<%= f.label :date_discontinued %><br />
			<%= f.date_select :date_discontinued %><br /><br />
		</div>
		<div class="span-4">
			<%= f.label :category_id %><br />
			<%= f.collection_select(:category_id, @categories, :id, :name) %>
		</div>
	
		<div class="span-3">
			<%= f.label :price %><br />
			<%= f.text_field :price, :size => 7 %>
		</div>
		<div class="span-3">
			<%= f.label :size %><br />
			<%= f.text_field :size, :size => 5 %>
		</div>
	
		<div class="span-8 last">
			<%= f.label :quantity %><br />
			<%= f.text_field :quantity, :size => 5 %><br /><br />
		</div>

	
		<div>
			<%= f.label :description %><br />
			<%= f.text_area :description %><br /><br />
		</div>
	
		<div>
			<%= f.submit 'Update' %>
		</div>
	<% end %>

	<%= link_to 'Show', @item %> |
	<%= link_to 'Back', items_path %>
</div>