<div class="span-18 last">
  <h3 class="ui-widget-header ui-corner-all last">
  <%=h @item.name %>
  <% if logged_in? -%>
    <span class="prepend-12"><%= link_to 'Edit this item', :action => :edit, :id => @item %></span>
  <% end -%>
  </h3>
  <div class="container span-18 last">
    <div class="span-10 image-box">
      <% if @item.has_image? %>
        <%= image_tag @item.image_url, :width => 380 %>
      <% else %>
        <%= image_tag 'rails.png' %>
      <% end %>
    </div>
    <div class="description-box span-7 last ui-widget-header ui-corner-all">
      <b>Description:</b><br />
      <%=h @item.description %>

      <b>Date discontinued:</b>
      <%=h @item.date_discontinued %><br />

      <div class="price">
        $<%=h @item.price %><br />
      </div>

      <button class="ui-button ui-state-default ui-corner-all">Add to cart</button>
    </div>
  </div>
</div