<div class="span-18 last">
  <h3 class="ui-widget-header ui-corner-all last">
  <%=h @item.name %>
  <% if logged_in? -%>
    <span class="prepend-12"><%= link_to 'Edit this item', :action => :edit, :id => @item %></span>
  <% end -%>
  </h3>
  <div class="container span-18 last">
    <div class="span-10 image-box">
      <% if @item.has_image? %>
        <%= image_tag @item.image_url, :width => 380 %>
      <% else %>
        <%= image_tag 'noimage.png' %>
      <% end %>
    </div>
    <div class="description-box span-7 last ui-widget-header ui-corner-all">
      <div class="price">
        <%=h @item.formatted_price %><br />
      </div><br />
      <%=h @item.description %><br />

	<br /><br />
	<%= @purchase_message.message %><br />
    </div>
  </div>
</div>