<h1>New image</h1>

<%= error_messages_for :image %>

<% form_for(:image, :url => images_path, 
                      :html => { :multipart => true }) do |f| -%>
  <p>
    <label for="image">Upload an image:</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
	<%= f.hidden_field :item_id, :value => params[:item_id] %>
  </p>
  <p>
    <%= submit_tag 'Create' %>
  </p>
<% end -%>

<%= link_to 'Back', images_path %>